body{
  margin: 0;
  padding: 0;
  background-color:black;
}

.section{
  padding: 90px;
  background-color:black;
}

.homeBanner{
  background:url('./bannergame.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBanner h1{
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-size: 90px;
  margin: 10px;

}


.homeBanner p{
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;

}

.inner-banner{
  display: flex;
  flex-direction: column;
}


.siteButton{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Nunito', sans-serif;
  
}

.buttonIcon{
  padding-right: 10px;
}


.purpleButton{
  background-color: #370E4A;
  text-align:center;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px white;

}


.Flex{
  display: flex;
  align-content: center;
  align-items: center;
}

h2{
  color: white;
  text-align:left;
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
}

.Flex p{
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  text-align:left;
}

.Flex-Child{
  flex : 1;
}


.Flex-Content{
  padding-right: 90px;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.85);
  right: 0;
  left:0;
  top:0;
  z-index: 2;
}

.modal{
 display: flex;
 justify-content: center;
 align-content: center;
 margin-top: 15vh;
}

.Flex-Content-2{
  padding-left: 90px;
}


.sparkle{
  background:url('./bg-special.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: calc(80vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
}